*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: rgb(218, 218, 233);
    padding:25px;
    width: 450px;
    border-radius: 15px;
    text-align: center;
    color:rgb(234, 0, 255);

    
}

#watchduration{
    font-size: 47px;
    color: black;
    padding: 20px;
}

#buttons{

    display: flex;
    justify-content: center;
    gap:30px;
}

#buttons button{

    height:37px;
    width:25%;
    border-radius: 5px;
    background-color: rgb(10, 160, 143);
    border: none;
    outline: none;
    cursor: pointer;
}


#laps{
    height:200px;
    padding: 10px;
    overflow: auto;
    display: none;
}
#laps li{
    font-size: 22px;
    padding:10px;
    color:red;
}

#stop,#reset{
    background-color: rgb(255, 0, 0);
    background-color: red;
    color:black;
}


